<div class="row">
  <!--主要内容显示-->
  <div class="col-md-9" role="contents">
    <!-- <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %> -->
    <% //设置首页上每个文章的显示方式 %>
    <% page.posts.each(function(post){ %>
        <%- partial('article', {post: post, index: true}) %>
    <% }) %>
    <% //本页文章超过1篇时,添加分页 %>
    <% if (page.total > 1){ %>
        <nav id="page-nav">
        <%- paginator({
            prev_text: '&laquo; Prev',
            next_text: 'Next &raquo;'
        }) %>
        </nav>
    <% } %>

    <% //文档归档的显示方式 %>
  </div>

  <!--博客信息侧边栏-->
  <div class="col-md-3" role="complementary">
    <div class="hidden-print hidden-xs hidden-sm affix left-col" >
      <%- partial('_partial/site-col', null, {cache: !config.relative_link}) %>
    </div>
  </div>
</div>
