<footer id="footer">
    <div class="outer">
        <div id="footer-info">
            <i class="fa fa-copyright"></i>
            <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since%>-<% } %><%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> |
            <span id="busuanzi_container_page_pv">
              本文总阅读量<span id="busuanzi_value_page_pv"></span>次
             </span> | 
            Powered by
                <a href="http://hexo.io/" target="_blank">Hexo</a>,
                <a href="https://pages.github.com/" target="_blank">Github Pages</a>,
                <a href="http://wiki.jikexueyuan.com/project/react/getting-started.html" target="_blank">React</a> and
                <a href="http://haojunyu.duoshuo.com/admin/" target="_blank">多说</a>.
        </div>
    </div>
</footer>
