<div  class="row affix">
  <div class="col-md-4 col-md-offset-4 hidden-print hidden-xs hidden-sm">
    <div id="toc" class="toc-article">
        <strong class="toc-title"><%= __('toc.title') %></strong>
        <%- toc(post.content) %>
    </div>
</div>
